In [9]:
import pandas as pd
from datetime import datetime
from ast import literal_eval

## Load Data

In [10]:
df = pd.read_csv('data/listings.csv.gz', index_col=0, compression='gzip', )

## Drop Irrelevant Features

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 95144 entries, 56229 to 1307795865634995863
Data columns (total 74 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   listing_url                                   95144 non-null  object
 1   scrape_id                                     95144 non-null  int64
 2   last_scraped                                  95144 non-null  object
 3   source                                        95144 non-null  object
 4   name                                          95144 non-null  object
 5   description                                   92196 non-null  object
 6   neighborhood_overview                         43463 non-null  object
 7   picture_url                                   95134 non-null  object
 8   host_id                                       95144 non-null  int64
 9   host_url                                      95144 non-null  object
 10  host_name                                     95137 non-null  object
 11  host_since                                    95137 non-null  object
 12  host_location                                 72911 non-null  object
 13  host_about                                    48352 non-null  object
 14  host_response_time                            62709 non-null  object
 15  host_response_rate                            62709 non-null  object
 16  host_acceptance_rate                          67888 non-null  object
 17  host_is_superhost                             93396 non-null  object
 18  host_thumbnail_url                            95137 non-null  object
 19  host_picture_url                              95137 non-null  object
 20  host_neighbourhood                            46317 non-null  object
 21  host_listings_count                           95137 non-null  float64
 22  host_total_listings_count                     95137 non-null  float64
 23  host_verifications                            95137 non-null  object
 24  host_has_profile_pic                          95137 non-null  object
 25  host_identity_verified                        95137 non-null  object
 26  neighbourhood                                 43464 non-null  object
 27  neighbourhood_cleansed                        95144 non-null  object
 28  neighbourhood_group_cleansed                  0 non-null      float64
 29  latitude                                      95144 non-null  float64
 30  longitude                                     95144 non-null  float64
 31  property_type                                 95144 non-null  object
 32  room_type                                     95144 non-null  object
 33  accommodates                                  95144 non-null  int64
 34  bathrooms                                     62744 non-null  float64
 35  bathrooms_text                                94988 non-null  object
 36  bedrooms                                      82794 non-null  float64
 37  beds                                          62690 non-null  float64
 38  amenities                                     95144 non-null  object
 39  price                                         62777 non-null  object
 40  minimum_nights                                95144 non-null  int64
 41  maximum_nights                                95144 non-null  int64
 42  minimum_minimum_nights                        95142 non-null  float64
 43  maximum_minimum_nights                        95142 non-null  float64
 44  minimum_maximum_nights                        95142 non-null  float64
 45  maximum_maximum_nights                        95142 non-null  float64
 46  minimum_nights_avg_ntm                        95142 non-null  float64
 47  maximum_nights_avg_ntm                        95142 non-null  float64
 48  calendar_updated                              0 non-null      float64
 49  has_availability                              90680 non-null  object
 50  availability_30                               95144 non-null  int64
 51  availability_60                               95144 non-null  int64
 52  availability_90                               95144 non-null  int64
 53  availability_365                              95144 non-null  int64
 54  calendar_last_scraped                         95144 non-null  object
 55  number_of_reviews                             95144 non-null  int64
 56  number_of_reviews_ltm                         95144 non-null  int64
 57  number_of_reviews_l30d                        95144 non-null  int64
 58  first_review                                  70560 non-null  object
 59  last_review                                   70560 non-null  object
 60  review_scores_rating                          70560 non-null  float64
 61  review_scores_accuracy                        70544 non-null  float64
 62  review_scores_cleanliness                     70551 non-null  float64
 63  review_scores_checkin                         70515 non-null  float64
 64  review_scores_communication                   70538 non-null  float64
 65  review_scores_location                        70513 non-null  float64
 66  review_scores_value                           70513 non-null  float64
 67  license                                       0 non-null      float64
 68  instant_bookable                              95144 non-null  object
 69  calculated_host_listings_count                95144 non-null  int64
 70  calculated_host_listings_count_entire_homes   95144 non-null  int64
 71  calculated_host_listings_count_private_rooms  95144 non-null  int64
 72  calculated_host_listings_count_shared_rooms   95144 non-null  int64
 73  reviews_per_month                             70560 non-null  float64
dtypes: float64(24), int64(16), object(34)
memory usage: 54.4+ MB

Furthermore, remove features with more than 50% missing values.

In [12]:
print(f"Features with more than 50% missing values:\n{df.columns[df.isnull().mean() > .5]}")

df = df.dropna(thresh=.5*len(df), axis=1)

Features with more than 50% missing values:
Index(['neighborhood_overview', 'host_neighbourhood', 'neighbourhood',
       'neighbourhood_group_cleansed', 'calendar_updated', 'license'],
      dtype='object')

Remove columns which hold only one unique value, making it redundant to include for training machine learning models.

In [13]:
print(f"Features with only one unique value:\n{df.columns[df.nunique() == 1]}")

df = df.loc[:,df.apply(pd.Series.nunique) != 1]

Features with only one unique value:
Index(['scrape_id', 'has_availability'], dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 95144 entries, 56229 to 1307795865634995863
Data columns (total 66 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   listing_url                                   95144 non-null  object
 1   last_scraped                                  95144 non-null  object
 2   source                                        95144 non-null  object
 3   name                                          95144 non-null  object
 4   description                                   92196 non-null  object
 5   picture_url                                   95134 non-null  object
 6   host_id                                       95144 non-null  int64
 7   host_url                                      95144 non-null  object
 8   host_name                                     95137 non-null  object
 9   host_since                                    95137 non-null  object
 10  host_location                                 72911 non-null  object
 11  host_about                                    48352 non-null  object
 12  host_response_time                            62709 non-null  object
 13  host_response_rate                            62709 non-null  object
 14  host_acceptance_rate                          67888 non-null  object
 15  host_is_superhost                             93396 non-null  object
 16  host_thumbnail_url                            95137 non-null  object
 17  host_picture_url                              95137 non-null  object
 18  host_listings_count                           95137 non-null  float64
 19  host_total_listings_count                     95137 non-null  float64
 20  host_verifications                            95137 non-null  object
 21  host_has_profile_pic                          95137 non-null  object
 22  host_identity_verified                        95137 non-null  object
 23  neighbourhood_cleansed                        95144 non-null  object
 24  latitude                                      95144 non-null  float64
 25  longitude                                     95144 non-null  float64
 26  property_type                                 95144 non-null  object
 27  room_type                                     95144 non-null  object
 28  accommodates                                  95144 non-null  int64
 29  bathrooms                                     62744 non-null  float64
 30  bathrooms_text                                94988 non-null  object
 31  bedrooms                                      82794 non-null  float64
 32  beds                                          62690 non-null  float64
 33  amenities                                     95144 non-null  object
 34  price                                         62777 non-null  object
 35  minimum_nights                                95144 non-null  int64
 36  maximum_nights                                95144 non-null  int64
 37  minimum_minimum_nights                        95142 non-null  float64
 38  maximum_minimum_nights                        95142 non-null  float64
 39  minimum_maximum_nights                        95142 non-null  float64
 40  maximum_maximum_nights                        95142 non-null  float64
 41  minimum_nights_avg_ntm                        95142 non-null  float64
 42  maximum_nights_avg_ntm                        95142 non-null  float64
 43  availability_30                               95144 non-null  int64
 44  availability_60                               95144 non-null  int64
 45  availability_90                               95144 non-null  int64
 46  availability_365                              95144 non-null  int64
 47  calendar_last_scraped                         95144 non-null  object
 48  number_of_reviews                             95144 non-null  int64
 49  number_of_reviews_ltm                         95144 non-null  int64
 50  number_of_reviews_l30d                        95144 non-null  int64
 51  first_review                                  70560 non-null  object
 52  last_review                                   70560 non-null  object
 53  review_scores_rating                          70560 non-null  float64
 54  review_scores_accuracy                        70544 non-null  float64
 55  review_scores_cleanliness                     70551 non-null  float64
 56  review_scores_checkin                         70515 non-null  float64
 57  review_scores_communication                   70538 non-null  float64
 58  review_scores_location                        70513 non-null  float64
 59  review_scores_value                           70513 non-null  float64
 60  instant_bookable                              95144 non-null  object
 61  calculated_host_listings_count                95144 non-null  int64
 62  calculated_host_listings_count_entire_homes   95144 non-null  int64
 63  calculated_host_listings_count_private_rooms  95144 non-null  int64
 64  calculated_host_listings_count_shared_rooms   95144 non-null  int64
 65  reviews_per_month                             70560 non-null  float64
dtypes: float64(21), int64(15), object(30)
memory usage: 48.6+ MB

In [15]:
feats = [
    'listing_url',
    'last_scraped',
    'source',
    'name',
    'description',
    'picture_url',
    'host_id',
    'host_url',
    'host_name',
    'host_location',
    'host_about',
    'host_response_rate',
    'host_acceptance_rate',
    'host_thumbnail_url',
    'host_picture_url',
    'host_listings_count',
    'host_verifications',
    'latitude',
    'longitude',
    'property_type',
    'bathrooms_text',
    'bedrooms',
    'minimum_minimum_nights',
    'maximum_minimum_nights',
    'minimum_maximum_nights',
    'maximum_maximum_nights',
    'minimum_nights_avg_ntm',
    'maximum_nights_avg_ntm',
    'availability_30',
    'availability_60',
    'availability_90',
    'availability_365',
    'calendar_last_scraped',
    'number_of_reviews_ltm',
    'number_of_reviews_l30d',
    'last_review',
    'review_scores_accuracy',
    'review_scores_cleanliness',
    'review_scores_checkin',
    'review_scores_communication',
    'review_scores_location',
    'review_scores_value',
    'calculated_host_listings_count',
    'calculated_host_listings_count_entire_homes',
    'calculated_host_listings_count_private_rooms',
    'calculated_host_listings_count_shared_rooms',
    ]
df = df.drop(feats, axis=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 95144 entries, 56229 to 1307795865634995863
Data columns (total 20 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   host_since                 95137 non-null  object
 1   host_response_time         62709 non-null  object
 2   host_is_superhost          93396 non-null  object
 3   host_total_listings_count  95137 non-null  float64
 4   host_has_profile_pic       95137 non-null  object
 5   host_identity_verified     95137 non-null  object
 6   neighbourhood_cleansed     95144 non-null  object
 7   room_type                  95144 non-null  object
 8   accommodates               95144 non-null  int64
 9   bathrooms                  62744 non-null  float64
 10  beds                       62690 non-null  float64
 11  amenities                  95144 non-null  object
 12  price                      62777 non-null  object
 13  minimum_nights             95144 non-null  int64
 14  maximum_nights             95144 non-null  int64
 15  number_of_reviews          95144 non-null  int64
 16  first_review               70560 non-null  object
 17  review_scores_rating       70560 non-null  float64
 18  instant_bookable           95144 non-null  object
 19  reviews_per_month          70560 non-null  float64
dtypes: float64(5), int64(4), object(11)
memory usage: 15.2+ MB

## Stardardizing and Formatting Data

Convert the price from object to float

In [16]:
df['price'] = df['price'].str.replace('$', '').str.replace(',', '').astype(float)

Convert f/t entries to boolean [0, 1] entries

In [17]:
boolean_cols = [
    'host_is_superhost',
    'host_has_profile_pic',
    'host_identity_verified',
    'instant_bookable'
]

m = {'t': True, 'f': False}

for col in boolean_cols:
    df[col] = df[col].map(m).astype(bool).astype(int)

Convert date strings to DateTime objects

In [18]:
baseline_date = datetime(2025, 3, 1)

date_cols = [
    'host_since',
    'first_review',
]

for col in date_cols:
    df[col] = pd.to_datetime(df[col])
    df[col] = (baseline_date - df[col]).dt.days

Convert host_response_time into a numerical value

In [19]:
m = {'within an hour': 1, 'within a few hours': 2, 'within a day': 3, 'a few days or more': 4}

df['host_response_time'] = df['host_response_time'].map(m).astype(float)

Convert neighbourhood_cleansed and room_type to a numeric value through one-hot encoding

In [20]:
# Neighbourhood
dummies = pd.get_dummies(df['neighbourhood_cleansed']).astype(int)
df = df.join(dummies)
df.drop('neighbourhood_cleansed', axis=1, inplace=True)

# Room type
dummies = pd.get_dummies(df['room_type']).astype(int)
df = df.join(dummies)
df.drop('room_type', axis=1, inplace=True)

Convert the list of amenities to a integer count of the list

In [21]:
df['amenities'] = df['amenities'].apply(literal_eval).apply(len)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 95144 entries, 56229 to 1307795865634995863
Data columns (total 55 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   host_since                 95137 non-null  float64
 1   host_response_time         62709 non-null  float64
 2   host_is_superhost          95144 non-null  int64
 3   host_total_listings_count  95137 non-null  float64
 4   host_has_profile_pic       95144 non-null  int64
 5   host_identity_verified     95144 non-null  int64
 6   accommodates               95144 non-null  int64
 7   bathrooms                  62744 non-null  float64
 8   beds                       62690 non-null  float64
 9   amenities                  95144 non-null  int64
 10  price                      62777 non-null  float64
 11  minimum_nights             95144 non-null  int64
 12  maximum_nights             95144 non-null  int64
 13  number_of_reviews          95144 non-null  int64
 14  first_review               70560 non-null  float64
 15  review_scores_rating       70560 non-null  float64
 16  instant_bookable           95144 non-null  int64
 17  reviews_per_month          70560 non-null  float64
 18  Barking and Dagenham       95144 non-null  int64
 19  Barnet                     95144 non-null  int64
 20  Bexley                     95144 non-null  int64
 21  Brent                      95144 non-null  int64
 22  Bromley                    95144 non-null  int64
 23  Camden                     95144 non-null  int64
 24  City of London             95144 non-null  int64
 25  Croydon                    95144 non-null  int64
 26  Ealing                     95144 non-null  int64
 27  Enfield                    95144 non-null  int64
 28  Greenwich                  95144 non-null  int64
 29  Hackney                    95144 non-null  int64
 30  Hammersmith and Fulham     95144 non-null  int64
 31  Haringey                   95144 non-null  int64
 32  Harrow                     95144 non-null  int64
 33  Havering                   95144 non-null  int64
 34  Hillingdon                 95144 non-null  int64
 35  Hounslow                   95144 non-null  int64
 36  Islington                  95144 non-null  int64
 37  Kensington and Chelsea     95144 non-null  int64
 38  Kingston upon Thames       95144 non-null  int64
 39  Lambeth                    95144 non-null  int64
 40  Lewisham                   95144 non-null  int64
 41  Merton                     95144 non-null  int64
 42  Newham                     95144 non-null  int64
 43  Redbridge                  95144 non-null  int64
 44  Richmond upon Thames       95144 non-null  int64
 45  Southwark                  95144 non-null  int64
 46  Sutton                     95144 non-null  int64
 47  Tower Hamlets              95144 non-null  int64
 48  Waltham Forest             95144 non-null  int64
 49  Wandsworth                 95144 non-null  int64
 50  Westminster                95144 non-null  int64
 51  Entire home/apt            95144 non-null  int64
 52  Hotel room                 95144 non-null  int64
 53  Private room               95144 non-null  int64
 54  Shared room                95144 non-null  int64
dtypes: float64(9), int64(46)
memory usage: 42.7 MB

## Missing Data

In [23]:
df.isnull().sum()

host_since                       7
host_response_time           32435
host_is_superhost                0
host_total_listings_count        7
host_has_profile_pic             0
host_identity_verified           0
accommodates                     0
bathrooms                    32400
beds                         32454
amenities                        0
price                        32367
minimum_nights                   0
maximum_nights                   0
number_of_reviews                0
first_review                 24584
review_scores_rating         24584
instant_bookable                 0
reviews_per_month            24584
Barking and Dagenham             0
Barnet                           0
Bexley                           0
Brent                            0
Bromley                          0
Camden                           0
City of London                   0
Croydon                          0
Ealing                           0
Enfield                          0
Greenwich                        0
Hackney                          0
Hammersmith and Fulham           0
Haringey                         0
Harrow                           0
Havering                         0
Hillingdon                       0
Hounslow                         0
Islington                        0
Kensington and Chelsea           0
Kingston upon Thames             0
Lambeth                          0
Lewisham                         0
Merton                           0
Newham                           0
Redbridge                        0
Richmond upon Thames             0
Southwark                        0
Sutton                           0
Tower Hamlets                    0
Waltham Forest                   0
Wandsworth                       0
Westminster                      0
Entire home/apt                  0
Hotel room                       0
Private room                     0
Shared room                      0
dtype: int64

Remove all rows of data where the price is unknown, as these cannot be used to train or test a model to predict the price.

In [24]:
print(f"Number of rows containing no price: {df['price'].isnull().sum()}")

df = df.dropna(subset=['price'])

Number of rows containing no price: 32367

Remove duplicate entries from the DataFrame

In [25]:
print(f"Number of duplicate entries: {df.duplicated().sum()}")

df = df.drop_duplicates()

Number of duplicate entries: 258

Remove rows which have more than half of the features missing.

In [26]:
print(f"Number of rows missing more than 50% of features: {df.isnull().mean(axis=1).gt(.5).sum()}")

df = df[df.isnull().mean(axis=1) < .5]

Number of rows missing more than 50% of features: 0

In [27]:
print(df.isnull().sum().to_string())

host_since                       2
host_response_time            7432
host_is_superhost                0
host_total_listings_count        2
host_has_profile_pic             0
host_identity_verified           0
accommodates                     0
bathrooms                       83
beds                           130
amenities                        0
price                            0
minimum_nights                   0
maximum_nights                   0
number_of_reviews                0
first_review                 14267
review_scores_rating         14267
instant_bookable                 0
reviews_per_month            14267
Barking and Dagenham             0
Barnet                           0
Bexley                           0
Brent                            0
Bromley                          0
Camden                           0
City of London                   0
Croydon                          0
Ealing                           0
Enfield                          0
Greenwich                        0
Hackney                          0
Hammersmith and Fulham           0
Haringey                         0
Harrow                           0
Havering                         0
Hillingdon                       0
Hounslow                         0
Islington                        0
Kensington and Chelsea           0
Kingston upon Thames             0
Lambeth                          0
Lewisham                         0
Merton                           0
Newham                           0
Redbridge                        0
Richmond upon Thames             0
Southwark                        0
Sutton                           0
Tower Hamlets                    0
Waltham Forest                   0
Wandsworth                       0
Westminster                      0
Entire home/apt                  0
Hotel room                       0
Private room                     0
Shared room                      0

## Outliers

Remove all rows where the price is higher than the 99th percentile. This is to remove faulty listings, which can negatively impact the model.

In [28]:
print(f"Number of outlier above 99th percentile: {len(df[df['price'] > df['price'].quantile(0.99)])}")

df = df[df['price'] < df['price'].quantile(0.99)]

Number of outlier above 99th percentile: 625

---

In [29]:
df.to_csv('data/listings_cleaned.csv.gz', index=True, compression='gzip')